liminal-guide-demo/작품 캡션 및 설명_1차 취합.pdf
liminal-guide-demo/작품 캡션 및 설명.pdf
liminal-guide-demo/전시 서문.txt
liminal-guide-demo/build.bat
liminal-guide-demo/Analyse for PR.md
liminal-guide-demo/public/miginalia_logo.png
QR.pdf
QR/QR.psd
QR/qrcode (1).png
QR/qrcode (2).png
QR/qrcode (3).png
QR/qrcode (4).png
QR/qrcode (5).png
QR/qrcode (6).png
QR/qrcode (7).png
QR/qrcode (8).png
QR/qrcode (9).png
QR/qrcode.png
QR_resize/1.png
QR_resize/10.png
QR_resize/2.png
QR_resize/3.png
QR_resize/4.png
QR_resize/5.png
QR_resize/6.png
QR_resize/7.png
QR_resize/8.png
QR_resize/9.png
QR_resize/배치.png
Placement.psd
Pictures/team2.png
Pictures/KakaoTalk_20260605_093127470_01.jpg
Pictures/KakaoTalk_20260605_093127470.jpg
Pictures/0G0A7086 복사.jpg
